<div id="Header1">
    <h3>About</h3>
    <div class="content">
        <div class="photo">
            <img src="/public/img/5.jpg" alt="My Photo">
        </div>
        <div class="fine">
            <h5 class="tab">All about me</h5>
            <p> I am an active and thorough-going student of AIDS with hands-on experience in developing AI/ML systems, web
                development, and data analysis. My background of development of innovative solutions has included detection systems
                powered by AI, chatbot platforms, and web applications. Proficient in the use of IBM Watson, OpenCV, and Django to
                result in impactful projects. I perform best when working in teams and leading end-to-end projects such as capstone
                initiatives and real-world problem-solving. I am very eager to apply technical expertise and problem-solving abilities in
                a challenging internship in order to add value to organizational goals and work on professional growth.</p>
        </div>
    </div>
</div>



